{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorNum %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorNum %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="companyNumber">
              {% if data['discrepancyType'] == 'PSC' %}
                What is the company number for the PSC with the discrepancy?
              {% else %}
                What is the Overseas Entity ID for the beneficial owner with the discrepancy?
              {% endif %}
            </label>
          </h1>
          <div id="companyNumber-hint" class="govuk-hint">
            {% if data['discrepancyType'] == 'PSC' %}
              A company number is 8 characters long.
            {% else %}
              An Overseas Entity ID starts with OE and is followed by 6 numbers.
            {% endif %}
          </div>
          <!-- Check for error -->
          {% if errorNum %}
          <p id="companyNumber-error" class="govuk-error-message">
            {% if data['discrepancyType'] == 'PSC' %}
            <span class="govuk-visually-hidden">Error:</span> The company number must be 8 characters long
            {% else %}
            <span class="govuk-visually-hidden">Error:</span> The Overseas entity ID number must start with OE followed by 6 numbers
            {% endif %}
          </p>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="companyNumber" name="companyNumber" type="text">
        </div>

        <details class="govuk-details" data-module="govuk-details">
          {% if data['discrepancyType'] == 'PSC' %}
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How do I find the company number?
            </span>
          </summary>
          <div class="govuk-details__text">
            You can find this by searching for the company on the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House register (opens in a new tab)</a>.
          </div>
        {% else %}
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How do I find the Overseas Entity ID?
            </span>
          </summary>
          <div class="govuk-details__text">
            You can find this by searching for the overseas entity on the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House register (opens in a new tab)</a>.
          </div>
          {% endif %}
        </details>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
