{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your name– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{currentUrl}}" method="post">
        <!-- Check for error -->
        {% if errorName == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
        {% endif %} 

        <!-- Check for error -->
        {% if errorName %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="email">
              What is your name?
            </label>
          </h1>
          <!-- Check for error -->
          {% if errorName %}
          <p id="fullName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your name
          </p>
          {% endif %} 
          <input class="govuk-input govuk-!-width-two-thirds" id="fullName" name="fullName" type="text" aria-describedby="email-hint">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}