<div class="govuk-grid-column-one-third-from-desktop">
  <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
      Related content
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-body-s">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register">
            Applying to protect your personal information on the Companies 
            House register
          </a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/government/publications/register-of-overseas-entities-guidance-on-registration-and-verification">
            Register of Overseas Entities: guidance on registration and verification
          </a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/government/publications/counter-financing-of-terrorism-general-licenses">
            Counter-Terrorism Licensing Policy
          </a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/government/publications/current-list-of-designated-persons-terrorism-and-terrorist-financing">
            Financial sanctions, Counter-terrorism
          </a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/government/publications/apply-to-remove-your-home-address-from-the-public-register-sr01">
            Apply to remove your home address from the Companies House register (SR01)
          </a>
        </li>
      </ul>
    </nav>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-3">
    <ul class="govuk-list govuk-body-s">
      <li>
        Collection
      </li>
      <li>
        <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/collections/companies-house-guidance-for-limited-companies-partnerships-and-other-company-types">
          Companies House: guidance for limited companies, partnerships and other company types
        </a>
      </li>
    </ul>
  </aside>
</div>