{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if errorNum == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <form action="{{currentUrl}}" method="post">
        {% if errorNum == true %}
          {{ govukInput({
            label: {
              text: "What is the company number for the PSC with the discrepancy?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "A company number is 8 characters long."
            },
            id: "companyNumber",
            value: data['companyNumber'],
            name: "companyNumber",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "A company number is 8 characters long."
            },
            errorMessage: {
              text: "The company number must be 8 characters long"
            },
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "What is the company number for the PSC with the discrepancy?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "A company number is 8 characters long."
            },
            id: "companyNumber",
            name: "companyNumber",
            value: data['companyNumber'],
            classes: "govuk-!-width-two-thirds",
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endif %}
        {{ govukDetails({
          summaryText: "How do I find the company number?",
          html: "<p>You can find this by searching for the company on the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House register (opens in a new tab)</a>.</p>"
         }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
