{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Confirm this is the correct company
      </h1>

      <form class="form" action="psc-name" method="post">

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company name</dt>
            <dd class="govuk-summary-list__value">Big Shop LTD</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number</dt>
            <dd class="govuk-summary-list__value">{{ data['company-number'] }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">Active
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Incorporation date</dt>
            <dd class="govuk-summary-list__value">01 January 2020</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company type</dt>
            <dd class="govuk-summary-list__value">Private limited Company</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Registered office address</dt>
            <dd class="govuk-summary-list__value">100 Long Street, Townville, United Kingdom, AA1 B22
            </dd>
          </div>
        </dl>

        <button class="govuk-button" data-module="govuk-button">Confirm and continue</button>

      </form>

      <p class="govuk-body">
        <a href="company-number">Change company</a>
      </p>

    </div>
  </div>

{% endblock %}
