{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <!--Check if user selected PSC or BO on previous page and change content to suit-->
        {% if data['discrepancyType'] == 'PSC' %}
          Confirm this is the correct company
        {% else %}
          Confirm this is the correct overseas entity
        {% endif %} 
      </h1>

      <form class="form" action="{{currentUrl}}" method="post">

        <!--Check if user selected PSC or BO on previous page and change content to suit-->
        {% if data['discrepancyType'] == 'PSC' %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Company name</dt>
              <dd class="govuk-summary-list__value">Big Shop LTD</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Company number</dt>
              <dd class="govuk-summary-list__value">{{ data['companyNumber'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Status</dt>
              <dd class="govuk-summary-list__value">Active
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Incorporation date</dt>
              <dd class="govuk-summary-list__value">01 December 2022</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Company type</dt>
              <dd class="govuk-summary-list__value">Private limited Company</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Registered office address</dt>
              <dd class="govuk-summary-list__value">100 Long Street, Townville, United Kingdom, AA1 B22
              </dd>
            </div>
          </dl>
        {% else %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Overseas Entity name</dt>
              <dd class="govuk-summary-list__value">Big Shop LTD</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Overseas Entity ID</dt>
              <dd class="govuk-summary-list__value">{{ data['companyNumber'] }}</dd>
            </div>
            {% if data['discrepancyType'] == 'PSC' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status</dt>
                <dd class="govuk-summary-list__value">Active
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Registered  on</dt>
              <dd class="govuk-summary-list__value">01 December 2022</dd>
            </div>
            {% if data['discrepancyType'] == 'PSC' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Overseas Entity type</dt>
              <dd class="govuk-summary-list__value">Private limited Company</dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
            {% if data['discrepancyType'] == 'PSC' %}
              <dt class="govuk-summary-list__key">Registered office address</dt>
              <dd class="govuk-summary-list__value">100 Long Street, Plymouth, United Kingdom, AA1 B22</dd>
            {% else %}
              <dt class="govuk-summary-list__key">Principle office address</dt>
              <dd class="govuk-summary-list__value">10 Marienplatz, Munich, Germany, 34 80804</dd>
            {% endif %}
            </div>
          </dl>
        {% endif %} 

        <button class="govuk-button" data-module="govuk-button">Confirm and continue</button>

      </form>

      <p class="govuk-body">
        <!--Check if user selected PSC or BO on previous page and change content to suit-->
        {% if data['discrepancyType'] == 'PSC' %}
        <a href="company-number">Change company</a>
        {% else %}
        <a href="company-number">Change overseas entity</a>
        {% endif %} 
      </p>

    </div>
  </div>

{% endblock %}
