{% extends "layouts/main.html" %}

{% block pageTitle %}
Which PSC has a discrepancy for {{company_name}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{currentUrl}}" method="post">
        {% if errorDiscrepancyType == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        {% if errorDiscrepancyType == true %}
          <div class="govuk-form-group govuk-form-group--error">

            <fieldset class="govuk-fieldset" aria-describedby="psc-hint">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you want to report a PSC discrepancy for a company or a beneficial owner discrepancy for a overseas entity?
                </h1>
              </legend>
              <p id="where-do-you-live-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select a discrepancy type
              </p>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="discrepancyType" name="discrepancyType" type="radio" value="PSC">
                  <label class="govuk-label govuk-radios__label" for="discrepancyType">
                    Report a PSC discrepancy
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="discrepancyType-2" name="discrepancyType" type="radio" value="beneficial owner">
                  <label class="govuk-label govuk-radios__label" for="discrepancyType-2">
                    Report a beneficial owners discrepancy
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        {% else %}
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="psc-hint">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you want to report a PSC discrepancy for a company or a beneficial owner discrepancy for a overseas entity?
                </h1>
              </legend>
              <div id="sign-in-hint" class="govuk-hint">
                Select a discrepancy type
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="discrepancyType" name="discrepancyType" type="radio" value="PSC">
                  <label class="govuk-label govuk-radios__label" for="discrepancyType">
                    Report a PSC discrepancy
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="discrepancyType-2" name="discrepancyType" type="radio" value="beneficial owner">
                  <label class="govuk-label govuk-radios__label" for="discrepancyType-2">
                    Report a beneficial owners discrepancy
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        {% endif %}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What type of discrepancy do I want to report?
            </span>
          </summary>
          <div class="govuk-details__text">
            text
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
