{% extends "layouts/main.html" %}

{% block pageTitle %}
Give us more information about the discrepancy – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if errorDiscrepancyInfo == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <h1 class="govuk-heading-l">
          Give us more information about the discrepancy
        </h1>

        <p class="govuk-body">You should tell us:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>what information on the {{ data['discrepancyType'] }} register is incorrect
          </li>
          <li>the correct information as you believe it should be shown on the register
          </li>
          <li>any other relevant information about the discrepancy that supports the report
          </li>
        </ul>

        <p class="govuk-body">If you’re reporting a missing {{ data['discrepancyType'] }}, you 
          need to tell us the name of the {{ data['discrepancyType'] }} who is missing.</p>

        <form class="form" action="{{currentUrl}}" method="post">
          {% if errorDiscrepancyInfo == true %}
          {{ govukCharacterCount({
            name: "discrepancyInfo",
            id: "discrepancyInfo",
            maxlength: 5000,
            value: data['discrepancyInfo'],
            spellcheck: true,
            label: {
              html: "Discrepancy information"
            },
            errorMessage: {
              text: "Enter the information that is incorrect"
            }
          }) }}
          {% else %}
            {{ govukCharacterCount({
              name: "discrepancyInfo",
              id: "discrepancyInfo",
              maxlength: 5000,
              value: data['discrepancyInfo'],
              spellcheck: true,
              label: {
                html: "Discrepancy information"
              }
            }) }}
          {% endif %}
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>

    </div>
  </div>

{% endblock %}
