{% set title = "" %}
{% extends "layouts/main.html" %}

{% set serviceName %}
{{title}}
{% endset%}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      Report a PSC discrepancy for a company or a beneficial owner discrepancy for a overseas entity
    </h1>
    <p class="govuk-body-l">How to make a report if you're an obliged entity and your information 
      is different from the information on the people with significant control (PSC) register.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-3">
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    <ul class="govuk-list govuk-body-s govuk-!-margin-top-3 govuk-!-margin-bottom-8">
      <li>From: <a class="govuk-link govuk-body-s" href="#">Companies House</a></li>
      <li>Published 10 January 2020</li>
      <li>Last updated 2 November 2022 — <a class="govuk-link govuk-body-s" href="#">See all updates</a></li>
    </ul>

    <button class="govuk-body-s gem-c-single-page-notification-button__submit govuk-!-margin-bottom-6" type="submit">  
      <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill=#000000 d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
      <span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
    </button>

    <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
    <ul class="govuk-list govuk-list govuk-!-margin-bottom-8 govuk-list--dashed">
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-an-obliged-entity-is">What an obliged entity is</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-a-beneficial-owner-is">What a person with significant control (PSC) is</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-a-discrepancy-is">What a discrepancy is</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#why-report-a-discrepancy">Why you need to report a discrepancy</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-is-not-a-discrepancy">What is not a discrepancy</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#when-to-make-a-discrepancy-report">When to make a discrepancy report</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#start">Make a discrepancy report</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#after-the-report-is-submitted">After the report is submitted</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#contact-us">Contact us</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#privacy-statement">Privacy statement</a>
      </li>
    </ul>

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
      <button class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>
    </div>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 id="what-an-obliged-entity-is" class="govuk-heading-m govuk-!-font-size-27">What an obliged entity is</h2>
    <p class="govuk-body">This is any entity required to carry out due diligence checks under anti-money laundering regulations.</p>

    <p class="govuk-body">Obliged entities include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>credit institutions</li>
      <li>financial institutions</li>
      <li>auditors, external accountants or tax advisors</li>
      <li>notaries or other independent legal professionals</li>
      <li>trusts or company service providers</li>
      <li>estate agents, including when acting as intermediaries</li>
      <li>other persons trading goods in cash amounting to €10,000 or more</li>
      <li>gambling services</li>
      <li>exchange services between virtual and fiat currencies</li>
      <li>custodian wallet providers</li>
      <li>art dealers in galleries and auction houses</li>
      <li>art dealers in free ports</li>
      <li>insolvency practitioners</li>
    </ul>

    <p class="govuk-body">Obliged entities must tell Companies House if there’s a difference 
      between the information on the PSC register, and the information they hold about a PSC of a:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>company</li>
      <li>limited liability partnership (LLP)</li>
      <li>Scottish limited partnership (SLP)</li>
      <li>Scottish qualifying partnership (SQP)</li>
    </ul>

    <div class="govuk-inset-text">
      If you’re not an obliged entity, do not use this service to report a PSC discrepancy. If you want to update your PSC details, you can
      <a href="https://www.gov.uk/make-changes-to-your-limited-company" class="govuk-link">tell Companies House about changes to your limited company</a>.
    </div>


    <h3 id="what-a-beneficial-owner-is" class="govuk-heading-m govuk-!-font-size-27">What a person with significant control (PSC) is</h3>
    <p class="govuk-body">A <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs" target="_blank" class="govuk-link">person with significant control (PSC)</a> 
      is someone who owns or controls a company. 
      A company can have one or more PSCs.</p>

    <p class="govuk-body">A beneficial owner is not the same as a PSC. The requirement to report 
      discrepancies is based on the Companies Act definition of a PSC, rather than the Money 
      Laundering Regulations’ definition. This means that the information on the PSC register 
      might be different to other beneficial ownership information, but it might not be inaccurate.</p>

    <p class="govuk-body call-to-action">For more information, see <a href="https://www.gov.uk/government/publications/guidance-to-the-people-with-significant-control-requirements-for-companies-and-limited-liability-partnerships" target="_blank" class="govuk-link">PSC requirements for companies, LLPs and Scottish qualifying partnerships.</a></p>


    <h3 id="what-a-discrepancy-is" class="govuk-heading-m govuk-!-font-size-27">What a discrepancy is</h3>
    <p class="govuk-body">A discrepancy is when the information that an obliged entity holds about 
      a beneficial owner is different to the PSC information recorded by Companies House.</p>

    <p class="govuk-body">This could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a difference in name</li>
      <li>an incorrect entry for nature of control</li>
      <li>an incorrect entry for date of birth</li>
      <li>an incorrect entry for nationality</li>
      <li>an incorrect entry for correspondence address</li>
      <li>a missing entry for a person of significant control or a registrable beneficial owner</li>
      <li>an incorrect entry for the date the individual became a registrable person</li>
    </ul>


    <h3 id="why-report-a-discrepancy" class="govuk-heading-m govuk-!-font-size-27">Why you need to report a discrepancy</h3>
    <p class="govuk-body">On 10 January 2020, the Fifth Anti-Money Laundering Directive (5MLD) came 
      into force in the UK through the Money Laundering and Terrorist Financing (Amendment) 
      Regulations 2019.</p>

    <p class="govuk-body">If obliged entities find a discrepancy, they must make a report to Companies 
      House.</p>

    <p class="govuk-body">This will help us to make sure that the register is accurate and up to date.</p>
    

    <h3 id="what-is-not-a-discrepancy" class="govuk-heading-m govuk-!-font-size-27">What is not a discrepancy</h3>
    <p class="govuk-body">You do not need to report the following:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>if you’ve already made a discrepancy report, you do not need to report the same discrepancy again</li>
      <li>if the discrepancy is resolved in the time between identifying it and submitting a report, you do 
        not need to report it</li>
      <li>it is not a discrepancy when the entity holds information that we do not include on the PSC register</li>
      <li>a spelling error is not a discrepancy, for example, Jon Smith instead of John Smith, or a missing 
        or slightly different spelling of a middle name</li>
      <li>minor variations in an address is not a discrepancy, or where a nationality of Welsh, English, 
        Scottish or Northern Irish is given but the register shows UK</li>
      <li>a PSC must own more than 25% of shares to be registrable, so you do not need to report a missing 
        PSC if they own 25% or less (this does not impact people who are PSCs because they control the 
        company in another way)</li>
      <li>where a company has claimed an exemption from providing their PSC details because they are 
        trading on a regulated market, PSC details will not be shown on the register so you do not need 
        to report a discrepancy</li>
    </ul>

    <p class="govuk-body">Obliged entities can advise the company to contact us to correct minor errors.</p>

    <p class="govuk-body govuk-!-font-weight-bold">If a beneficial owner’s correspondence address is 
      different from the service address on the PSC register</p>

    <p class="govuk-body">The address shown for a PSC on Companies House records is a service address - 
      this does not have to be their home address. Obliged entities should take this into consideration.</p>

    <p class="govuk-body">PSCs must provide their home address to Companies House, but it’s kept on a 
      private register. It’s only available on request to credit reference agencies and specified public 
      authorities.</p>

    <p class="govuk-body">As the PSC’s home address is not available on the public register, it might not 
      be a discrepancy if it does not match the address given to an obliged entity. If the address a 
      client has provided is different to what is shown on the register, you may wish to check with 
      them if they have used an alternative to their home address as a service address.</p>
    
    <p class="govuk-body">You should only make a report when there is a clear discrepancy between the 
      same types of address.</p>


    <h3 id="when-to-make-a-discrepancy-report" class="govuk-heading-m govuk-!-font-size-27">When to make a discrepancy report</h3>

    <p class="govuk-body">Obliged entities must make a report if they find a discrepancy when setting up 
      a new business relationship with a customer.</p>
    
    <p class="govuk-body">You should report a discrepancy as soon as possible. Bulk reporting is not 
      allowed, so obliged entities must not wait to make reports in bulk as this means the PSC register 
      will not be up to date.</p>

    <h3 class="govuk-heading-s">Future changes</h3>

    <p class="govuk-body">From April 2023 our focus will be on resolving discrepancies, which are 
      linked to money laundering or terrorist financing, or appear to conceal details of the customer’s 
      business. The requirement to report discrepancies will also apply to the Register of Overseas 
      Entities and throughout the business relationship. More information on this will be available 
      nearer the time.</p>
    

    <h3 id="start" class="govuk-heading-m govuk-!-font-size-27">Make a discrepancy report</h3>
    <p class="govuk-body">To report a discrepancy, you'll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the company number of the entity being reported as having a discrepancy</li>
      <li>the type of discrepancy</li>
      <li>the information on the PSC register you believe is incorrect, for example an incorrect address or an error in the nature of control</li>
      <li>the correct information as you believe it should be shown on the register</li>
      <li>any other relevant information about the discrepancy that supports the report</li>
    </ul>
    <p>Reporting a discrepancy takes up to 10 minutes. The service will time out after 30 minutes and your answers will not be saved.
    </p>
    {{ govukButton({
      text: "Start now",
      href: "../v1/discrepancy-category",
      isStartButton: true
    }) }}
    <p class="govuk-body govuk-!-font-weight-bold">Before you start</p>
    <p class="govuk-body">If one or more PSC for a company has their details protected, you will not be 
      able to use this service to report a discrepancy. You must <a href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity#contact-us" target="_blank" class="govuk-link">contact Companies House</a> by telephone 
      instead to speak to a member of the PSC discrepancy team.</p>


    <h3 id="after-the-report-is-submitted" class="govuk-heading-m govuk-!-font-size-27">After the report is submitted</h3>

    <p class="govuk-body">We'll investigate the discrepancy, which could take some time. We cannot say how long it will take because each case is different. We will not tell the company who has reported a discrepancy about their PSC register information.</p>
    <p class="govuk-body">We’ll check our records and if we find that the reported discrepancy needs to be corrected, we’ll contact the company and ask that they resolve it to make sure the PSC register is up to date. If the discrepancy is not resolved
      by the company, we may remove the incorrect information from the register.</p>


    <h3 id="contact-us" class="govuk-heading-m govuk-!-font-size-27">Contact us</h3>
    <p class="govuk-body">If you have a question about reporting a PSC discrepancy, you can contact us.</p>
    <h3 class="govuk-heading-s">Telephone</h3>
    <ul class="govuk-list">
      <li>0303 1234 500 Monday to Friday, 8:30am to 6pm</li>
    </ul>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>
    <h3 class="govuk-heading-s">Email</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">pscdiscrepancies@companieshouse.gov.uk</a>
      </li>
    </ul>
    <h4 class="govuk-heading-s">Reporting a PSC who has their details protected</h4>
    <div class="govuk-inset-text">
      <p class="govuk-body">If one or more PSC for a company has their details protected, you will not 
        be able to use this service to report a discrepancy. Contact us by telephone on 0303 1234 500 
        if you need to report a discrepancy about a PSC who has their details protected.</p>
    </div>


    <h3 id="privacy-statement" class="govuk-heading-m govuk-!-font-size-27">Privacy statement</h3>
    <h3 class="govuk-heading-s">What personal information (or ‘data’) we collect</h3>
    <p class="govuk-body">We collect:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of the obliged entity (if an individual)</li>
      <li>the email address of the obliged entity (if an individual)</li>
      <li>the name of the person with significant control (PSC) reported as having a discrepancy</li>
      <li>the date of birth of the PSC reported as having a discrepancy</li>
      <li>the nationality of the PSC reported as having a discrepancy</li>
      <li>the postal address of the PSC reported as having a discrepancy</li>
      <li>any other personal information voluntarily provided by the person submitting the report</li>
    </ul>

    <h3 class="govuk-heading-s">How we use the personal information</h3>

    <p class="govuk-body">The personal information provided by the obliged entity is compared with the 
      relevant information on the public register.  If necessary, the information on the public register 
      will be corrected and annotated.</p>
    <p class="govuk-body">The obliged entity’s personal information will be used to contact them for 
      more information if needed, and to tell them the outcome of the discrepancy report. The information 
      will be stored on the internal Companies House database along with the associated discrepancy report.</p>
    <p class="govuk-body">The personal information of the obliged entity and the PSC identified in the 
      discrepancy report will not be made available to the public, although the information may already 
      be on the public register for filing purposes.</p>

    <h3 class="govuk-heading-s">Where the information will be stored</h3>

    <p class="govuk-body">The information will be held on the Companies House database, but not on the 
      public register.</p>

    <h3 class="govuk-heading-s">How long the personal information is stored</h3>
    <p class="govuk-body">Companies House will hold the personal information of the obliged entity and 
      PSC in the discrepancy report on the Companies House database for 10 years.</p>

    <h3 class="govuk-heading-s">Legal basis for the use of the personal information </h3>
    <p class="govuk-body">Companies House has a legal obligation to collect this information.</p>

    <h3 class="govuk-heading-s">Individual rights</h3>
    <p class="govuk-body">The GDPR provides certain rights that people may carry out regarding their 
      own personal information. If you want to exercise any of these rights, please contact the Data 
      Protection Officer (DPO).</p>

    <h3 class="govuk-heading-s">Complaints</h3>
    <p class="govuk-body">If you have a complaint about the way we’re managing your personal information, 
      you can let us know firstly by writing to the DPO at <a href="mailto:dpo@companieshouse.gov.uk" class="govuk-link">dpo@companieshouse.gov.uk</a>.</p>
    <p class="govuk-body">If you’re still not satisfied, you can raise your concerns with:</p>
    <p class="govuk-body">The Information Commissioner’s Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire<br>
      SK9 5AF<br>
    </p>
    </div>

  {% include "../includes/govuk-aside.html" %}
</div>

{% endblock %}
