{% extends "layouts/main.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of your organisation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="obliged-entity-details-name" method="post">
      
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="your-organisation-name">
            What is the name of your organisation?
            </label>
          </h1>
          <input class="govuk-input" id="your-organisation-name" name="your-organisation-name" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
