{% extends "layouts/main.html" %}

{% block pageTitle %}
Which PSC has a discrepancy for {{company_name}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="psc-discrepancy-options" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                <!--Check if user selected PSC or BO on previous page and change content to suit-->
                {% if data['discrepancy-type'] == 'PSC' %}
                  Which PSC has a discrepancy for Big Company LTD?
                {% else %}
                  Which beneficial owner has a discrepancy for Big Company LTD?
                {% endif %}
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="psc-name" name="psc-name" type="radio" value="legal-person-1">
                <label class="govuk-label govuk-radios__label" for="psc-name">
                  Legal person 1
                </label>
                <div id="psc-item-hint" class="govuk-hint govuk-radios__hint">Born August 1980</div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="psc-name-2" name="psc-name" type="radio" value="legal-person-2">
                <label class="govuk-label govuk-radios__label" for="psc-name-2">
                  Legal person 2
                </label>
                <div id="psc-item-hint" class="govuk-hint govuk-radios__hint">Born January 2000</div>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="missing" name="psc-name" type="radio" value="missing">
                <label class="govuk-label govuk-radios__label" for="missing">
                  PSC is missing
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
