{% extends "layouts/main.html" %}

{% block pageTitle %}
What type of discrepancy are you reporting for xxxx – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %} 
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{currentUrl}}" method="post">
        {% if errorPscOptions == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        {% if errorPscOptions == true %}
          <div class="govuk-form-group govuk-form-group--error">
            <fieldset class="govuk-fieldset" aria-describedby="pscOptions-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What type of discrepancy are you reporting for {{ data['pscName'] }}?
                </h1>
              </legend>
              <p id="countries-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select the type of discrepancy you are reporting
              </p>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions" name="pscOptions" type="checkbox" value="Name">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions">
                    Name
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-2" name="pscOptions" type="checkbox" value="Nature of control">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-2">
                    Nature of control
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-3" name="pscOptions" type="checkbox" value="Date of birth">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-3">
                    Date of birth
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-4" name="pscOptions" type="checkbox" value="Nationality">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-4">
                    Nationality
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-5" name="pscOptions" type="checkbox" value="Correspondence address">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-5">
                    Correspondence address
                  </label>
                </div>
                <!--Check if user selected PSC or BO on previous page and change content to suit-->
                {% if data['discrepancy-type'] == 'PSC' %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-6" name="psc-options" type="checkbox" value="Notified date">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-6">
                      Notified date
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-7" name="psc-options" type="checkbox" value="Country of residence">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-7">
                      Country of residence
                    </label>
                  </div>
                {% else %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-6" name="psc-options" type="checkbox" value="Notified date">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-6">
                      Missing entry
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-7" name="psc-options" type="checkbox" value="Country of residence">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-7">
                      Incorrect entry for date individual became beneficial owner
                    </label>
                  </div>
                {% endif %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="psc-options-8" name="psc-options" type="checkbox" value="Other reason">
                  <label class="govuk-label govuk-checkboxes__label" for="psc-options-8">
                    Other reason
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        {% else %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="psc-options-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What type of discrepancy are you reporting for {{ data['pscName'] }}?
                </h1>
              </legend>
              <div id="psc-options-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions" name="pscOptions" type="checkbox" value="Name">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions">
                    Name
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-2" name="pscOptions" type="checkbox" value="Nature of control">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-2">
                    Nature of control
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-3" name="pscOptions" type="checkbox" value="Date of birth">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-3">
                    Date of birth
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-4" name="pscOptions" type="checkbox" value="Nationality">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-4">
                    Nationality
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pscOptions-5" name="pscOptions" type="checkbox" value="Correspondence address">
                  <label class="govuk-label govuk-checkboxes__label" for="pscOptions-5">
                    Correspondence address
                  </label>
                </div>
                <!--Check if user selected PSC or BO on previous page and change content to suit-->
                {% if data['discrepancy-type'] == 'PSC' %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-6" name="psc-options" type="checkbox" value="Notified date">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-6">
                      Notified date
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-7" name="psc-options" type="checkbox" value="Country of residence">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-7">
                      Country of residence
                    </label>
                  </div>
                {% else %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-6" name="psc-options" type="checkbox" value="Notified date">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-6">
                      Missing entry
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="psc-options-7" name="psc-options" type="checkbox" value="Country of residence">
                    <label class="govuk-label govuk-checkboxes__label" for="psc-options-7">
                      Incorrect entry for date individual became beneficial owner
                    </label>
                  </div>
                {% endif %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="psc-options-8" name="psc-options" type="checkbox" value="Other reason">
                  <label class="govuk-label govuk-checkboxes__label" for="psc-options-8">
                    Other reason
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        {% endif %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
