{% set title = "" %}
{% extends "layouts/main.html" %}

{% set serviceName %}
{{title}}
{% endset%}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      Report a discrepancy about a PSC or a registrable beneficial owner
    </h1>
    <p class="govuk-body-l">How an obliged entity can make a report if  there’s a material discrepancy between the information it holds about a PSC or registrable beneficial owner of an overseas entity, and the information on the Companies House register.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-3">
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    <ul class="govuk-list govuk-body-s govuk-!-margin-top-3 govuk-!-margin-bottom-8">
      <li>From: <a class="govuk-link govuk-body-s" href="#">Companies House</a></li>
      <li>Published 10 January 2020</li>
      <li>Last updated 2 November 2022 — <a class="govuk-link govuk-body-s" href="#">See all updates</a></li>
    </ul>

    <button class="govuk-body-s gem-c-single-page-notification-button__submit govuk-!-margin-bottom-6" type="submit">  
      <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill=#000000 d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
      <span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
    </button>

    <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
    <ul class="govuk-list govuk-list govuk-!-margin-bottom-8 govuk-list--dashed">
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-an-obliged-entity-is">What an obliged entity is</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-a-beneficial-owner-is">What a person with significant control (PSC) is</a>
      </li>
         <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-a-bo-is">What a registrable beneficial owner of an overseas entity is</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-a-discrepancy-is">What a material discrepancy is</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#why-report-a-discrepancy">Why you need to report a discrepancy</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-is-not-a-discrepancy">What you do not need to report</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#when-to-make-a-discrepancy-report">When to make a discrepancy report</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#start">Make a discrepancy report</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#after-the-report-is-submitted">After the report is submitted</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#contact-us">Contact us</a>
      </li>
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#privacy-statement">Privacy statement</a>
      </li>
    </ul>

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
      <button class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>
    </div>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 id="what-an-obliged-entity-is" class="govuk-heading-m govuk-!-font-size-27">What an obliged entity is</h2>
    <p class="govuk-body">This is any entity required to carry out due diligence checks under anti-money laundering regulations.</p>

    <p class="govuk-body">Obliged entities include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>credit institutions</li>
      <li>financial institutions</li>
      <li>auditors, external accountants or tax advisors</li>
      <li>notaries or other independent legal professionals</li>
      <li>trusts or company service providers</li>
      <li>estate agents, including when acting as intermediaries</li>
      <li>other persons trading goods in cash amounting to €10,000 or more</li>
      <li>gambling services</li>
      <li>exchange services between virtual and fiat currencies</li>
      <li>custodian wallet providers</li>
      <li>art dealers in galleries and auction houses</li>
      <li>art dealers in free ports</li>
      <li>insolvency practitioners</li>
    </ul>

    <p class="govuk-body">Obliged entities must tell us if there’s a difference between the information on the Companies House register, and the information they hold about a:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>PSC of a company</li>
      <li>PSC of a limited liability partnership (LLP)</li>
      <li>PSC of an eligible Scottish partnership</li>
       <li>registrable beneficial owner of an overseas entity</li>
    </ul>

    <div class="govuk-inset-text">
      If you’re not an obliged entity, do not use this service to report a PSC or registrable beneficial owner discrepancy. If you want to update your PSC details, you can
      <a href="https://www.gov.uk/make-changes-to-your-limited-company" class="govuk-link">tell Companies House about changes to your limited company</a>.
    </div>


    <h3 id="what-a-beneficial-owner-is" class="govuk-heading-m govuk-!-font-size-27">What a person with significant control (PSC) is</h3>
    <p class="govuk-body">A <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs" target="_blank" class="govuk-link">person with significant control (PSC)</a> 
      is someone who owns or controls a company. 
      A company can have one or more PSCs, or none. Any reference to companies in this guidance also refers to LLPs and eligible Scottish partnerships.</p>

    <p class="govuk-body">A beneficial owner is not the same as a PSC. The requirement to report 
      discrepancies is based on the Companies Act definition of a PSC, rather than the Money 
      Laundering Regulations’ definition of a beneficial owner. This means that the information on the Companies House register 
      might be different to other beneficial ownership information, but it might not be inaccurate.</p>

    <p class="govuk-body call-to-action">For more information, see <a href="https://www.gov.uk/government/publications/guidance-to-the-people-with-significant-control-requirements-for-companies-and-limited-liability-partnerships" target="_blank" class="govuk-link">PSC requirements for companies, LLPs and Scottish qualifying partnerships.</a></p>

<h3 id="what-a-bo-is" class="govuk-heading-m govuk-!-font-size-27">What a registrable beneficial owner of an overseas entity is</h3>
    <p class="govuk-body">A registrable beneficial owner is any individual or entity that has significant influence or control over an overseas entity. It can be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>an individual person</li>
  <li>another legal entity, such as a company</li>
  <li>a government or public authority</li>
  <li>a trustee of a trust</li>
  <li>a member of a firm that is not a legal person under its governing law</li>
</ul>



    <h3 id="what-a-discrepancy-is" class="govuk-heading-m govuk-!-font-size-27">What a material discrepancy is</h3>
    <p class="govuk-body">This is when the information an obliged entity holds is significantly different to the information recorded by Companies House about a PSC of a company, or a registrable beneficial owner of an overseas entity.</p>

     <p class="govuk-body">From 1 April 2023, an amendment to the <a href="https://www.legislation.gov.uk/uksi/2022/860/made" class="govuk-link">Money Laundering and Terrorist Financing (Amendments) (No 2) Regulations 2022</a> came into effect. This means that obliged entities must only report a material discrepancy if it can be reasonably considered to relate to one or more of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>money laundering </li>
      <li>terrorist financing</li>
      <li>appears to conceal details of the business of the customer</li>
</ul>

<p class="govuk-body">Concealing details of the business of the customer includes intentional and unintentional concealment. For example, a discrepancy may be considered to be concealed if information the obliged entity holds does not match information on Companies House register. We anticipate that most discrepancies will be considered to be unintentional concealment.  </p>

<p class="govuk-body">Money laundering and terrorist financing are defined in <a href="https://www.legislation.gov.uk/uksi/2017/692/contents/made)" class="govuk-link">regulation 3 of the Money Laundering, Terrorist Financing and Transfer of Funds (Information on the Payer) Regulations 2017</a>. </p>

    <p class="govuk-body">Material discrepancies that fit at least one of these conditions could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a difference in name</li>
      <li>an incorrect entry for nature of control</li>
      <li>an incorrect entry for date of birth</li>
      <li>an incorrect entry for nationality</li>
      <li>an incorrect entry for correspondence address</li>
      <li>a missing entry for a PSC or a registrable beneficial owner</li>
      <li>an incorrect entry for the date the individual became a registrable person</li>
    </ul>

  <p class="govuk-body">If a discrepancy could not be reasonably considered to be linked to at least one of the conditions, it does not need to be reported to Companies House. In these cases, you may want to contact the company to advise them to <a href="https://www.gov.uk/government/collections/companies-house-forms-for-limited-companies#people-with-significant-control-(psc)" class="govuk-link">make a PSC filing</a> to correct the discrepancy.</p>

  <p class="govuk-body">Detailed information about what is expected of obliged entities and their staff in relation to the prevention of money laundering and terrorist financing is also available from your supervisory body.   </p>

 <p class="govuk-body">You can also read <a href="https://www.jmlsg.org.uk/guidance/current-guidance/" class="govuk-link">Part 1 (5.3.129A) of guidance published by JMLSG (Joint Money Laundering Steering Group)</a> for more information. </p>

<h3 class="govuk-heading-s">Suspicious Activity Reports (SARs)</h3>

    <p class="govuk-body">Do not use a discrepancy report in place of a SAR, and do not use a SAR in place of a discrepancy report. In some cases, you may need to submit both a discrepancy report and a SAR. </p>
    
    
    <p class="govuk-body">You can <a href="https://www.gov.uk/guidance/money-laundering-regulations-report-suspicious-activities#:~:text=Suspicious%20activity%20or%20transactions,-There%20are%20many&text=a%20customer%20has%20tried%20to,did%20not%20add%20up%20commercially" class="govuk-link">tell us about suspicious activity that may be linked to money laundering</a> to submit a SAR to the National Crime Agency or HMRC.  </p>


    <h3 id="why-report-a-discrepancy" class="govuk-heading-m govuk-!-font-size-27">Why you need to report a discrepancy</h3>
    <p class="govuk-body"><a href="https://www.legislation.gov.uk/uksi/2017/692/regulation/30A" class="govuk-link">Regulation 30A of the Money Laundering, Terrorist Financing and Transfer of Funds (Information on the Payer) Regulations 2017</a> requires obliged entities to report material discrepancies to Companies House. </p>

    <p class="govuk-body">This will help us to make sure that the register is accurate and up to date.</p>


    

    <h3 id="what-is-not-a-discrepancy" class="govuk-heading-m govuk-!-font-size-27">What you do not need to report</h3>
    <p class="govuk-body">You do not need to report the following:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
         <li>if a discrepancy is not reasonably considered to be linked to money laundering, terrorist financing or concealing details of the business of the customer, it does not need to be reported to Companies House </li>
      <li>if you’ve already made a discrepancy report, you do not need to report the same discrepancy again</li>
      <li>if the discrepancy is resolved by the company before you submit a report, you do not need to report it</li>
      <li>when an obliged entity holds information that is not required to be included on the Companies House register </li>
      <li>a spelling error - for example, Jon Smith instead of John Smith, or a missing or slightly different spelling of a middle name</li>
      <li>a shortened name - for example, Jim instead of James </li>
      <li>minor variations in an address, or where a nationality of Welsh, English, 
        Scottish or Northern Irish is given, but the register shows UK</li>
      <li>where a company has claimed an exemption from providing their PSC details because they are 
        trading on a regulated market, PSC details will not be shown on the register</li>
        <li>a PSC or beneficial owner of an overseas entity must own more than 25% of shares to be registrable, so you do not need to report them missing if they own 25% or less (this does not impact people who are PSCs or registrable beneficial owners because they control the 
        company in another way)</li>
    </ul>

     <p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs#identifying-your-psc" class="govuk-link">People with Significant Control (PSCs) guidance</a> for more information. </p>

     {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{{ govukInsetText({
  text: "Obliged entities can advise the company to contact us to correct minor errors."
}) }}

    <p class="govuk-body govuk-!-font-weight-bold">If the correspondence address is different from the service address on the Companies House register</p>

    <p class="govuk-body">The address shown for a PSC or a registrable beneficial owner on Companies House register is a correspondence address, which is also known as a service address. This does not have to be their home address. Obliged entities should take this into consideration.</p>

    <p class="govuk-body">PSCs and registrable beneficial owners of an overseas entity must provide their home address to Companies House, but it’s kept on a private register. It’s only available on request to credit reference agencies (unless their details are protected) and specified public authorities.</p>

    <p class="govuk-body">As their home address is not available on the public register, it might not 
      be a discrepancy if it does not match the address given to an obliged entity. If the address a 
      customer has provided is different to what is shown on the register, you should consider checking with them if they have used an alternative to their home address as a correspondence address. </p>
    
    <p class="govuk-body">You should only make a report when there is a clear and material discrepancy between the same types of address.</p>


    <h3 id="when-to-make-a-discrepancy-report" class="govuk-heading-m govuk-!-font-size-27">When to make a discrepancy report</h3>

  <p class="govuk-body">The Money Laundering Regulations state that obliged entities must report material discrepancies to Companies House: </p>
      <ul class="govuk-list govuk-list--bullet">
      <li>when setting up a new business relationship with a customer</li>
      <li>when carrying out further due diligence checks throughout the business relationship</li>
       </ul>

        <p class="govuk-body">You should report a material discrepancy as soon as reasonably possible after identifying it. This should be decided by the obliged entity but, as a general rule, we recommend it should be reported within 30 days of identifying it, unless it is resolved by the customer. The final decision on when to report should be decided by the obliged entity, taking into account any risks involved.</p>
    
    <p class="govuk-body">Bulk reporting is not 
      allowed. Obliged entities must not wait to make reports in bulk, as this means the register will not be up to date.</p>


    

    <h3 id="start" class="govuk-heading-m govuk-!-font-size-27">Make a discrepancy report</h3>

 <p class="govuk-body">From 1 April 2023, an amendment to the regulations means that you can only use this service to report a material discrepancy if it can be reasonably considered to relate to one or more of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>money laundering</li>
        <li>terrorist financing</li>
        <li>appears to conceal details of the business of the customer</li>
   </ul>
  
  <p class="govuk-body"><a href="../v3/guidance#what-a-discrepancy-is" class="govuk-link">Find out more information about the amendment and what a material discrepancy is</a>. </p>

    <p class="govuk-body">To report a discrepancy, you'll need:</p>
    <ul class="govuk-list govuk-list--bullet">
       <li>to tell us what the discrepancy you are reporting relates to - money laundering, terrorist financing or concealment</li>
      <li>the company number or Overseas Entity ID of the company or entity being reported as having a discrepancy</li>
      <li>the type of discrepancy</li>
      <li>the information on the  register you believe is incorrect - for example, an incorrect address or an error in the nature of control</li>
      <li>the correct information as you believe it should be shown on the register</li>
      <li>any other relevant information about the discrepancy that supports the report</li>
    </ul>
 

    <p>Reporting a discrepancy usually takes up to 10 minutes. The service will time out if you do not use it for 30 minutes and you cannot save your answers.
    </p>
    {{ govukButton({
      text: "Start now",
      href: "../v3/sign-in",
      isStartButton: true
    }) }}
  


    <h3 id="after-the-report-is-submitted" class="govuk-heading-m govuk-!-font-size-27">After the report is submitted</h3>

    <p class="govuk-body">We'll investigate the discrepancy, which could take some time. We cannot say how long it will take because each case is different. We will not tell the company or overseas entity who has reported a discrepancy about their register information.</p>
    <p class="govuk-body">We’ll check our records and if we find that the reported discrepancy needs to be corrected, we may contact the company and ask that they resolve it to make sure the register is up to date. If the discrepancy is not resolved
      by the company or overseas entity, we may remove the incorrect information from the register.</p>


    <h3 id="contact-us" class="govuk-heading-m govuk-!-font-size-27">Contact us</h3>
    <p class="govuk-body">If you have a question about reporting a discrepancy, you can contact us.</p>
    <h3 class="govuk-heading-s">Telephone</h3>
    <ul class="govuk-list">
      <li>Telephone number: 0303 1234 500</li>
      <li>Monday to Friday, 8:30am to 6pm</li>
    </ul>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>
    <h3 class="govuk-heading-s">Email</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">pscdiscrepancies@companieshouse.gov.uk</a>
      </li>
    </ul>
    <h4 class="govuk-heading-s">Reporting a PSC or registrable beneficial owner who has their details protected</h4>
    <div class="govuk-inset-text">
      <p class="govuk-body">If one or more PSC or registrable beneficial owner has their details protected, you will not 
        be able to use this service to report a discrepancy. Contact us by telephone on 0303 1234 500 
        if you need to report a discrepancy about someone who has their details protected.</p>
    </div>


    <h3 id="privacy-statement" class="govuk-heading-m govuk-!-font-size-27">Privacy statement</h3>
    <h3 class="govuk-heading-s">What personal information (or ‘data’) we collect</h3>
    <p class="govuk-body">We collect:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of the obliged entity (if an individual)</li>
      <li>the email address of the obliged entity (if an individual)</li>
      <li>the name of the PSC or registrable beneficial owner reported as having a discrepancy</li>
      <li>the date of birth of the PSC or registrable beneficial owner reported as having a discrepancy</li>
      <li>the nationality of the PSC or registrable beneficial owner reported as having a discrepancy</li>
      <li>the postal address of the PSC  or registrable beneficial owner reported as having a discrepancy</li>
      <li>any other personal information voluntarily provided by the person submitting the report</li>
    </ul>

    <h3 class="govuk-heading-s">How we use the personal information</h3>

    <p class="govuk-body">The personal information provided by the obliged entity is compared with the 
      relevant information on the public register.  If necessary, the information on the public register 
      will be corrected and annotated.</p>
    <p class="govuk-body">The obliged entity’s personal information will be used to contact them for 
      more information if needed, and to tell them the outcome of the discrepancy report. The information 
      will be stored on the internal Companies House database along with the associated discrepancy report.</p>
    <p class="govuk-body">The personal information of the obliged entity and the PSC or registrable beneficial owner identified in the 
      discrepancy report will not be made available to the public, although the information may already 
      be on the public register for filing purposes.</p>

    <h3 class="govuk-heading-s">Where the information will be stored</h3>

    <p class="govuk-body">The information will be held on the Companies House database, but not on the 
      public register.</p>

    <h3 class="govuk-heading-s">How long the personal information is stored</h3>
    <p class="govuk-body">Companies House will hold the personal information of the obliged entity and 
      PSC or registrable beneficial owner in the discrepancy report on the Companies House database for 10 years.</p>

    <h3 class="govuk-heading-s">Legal basis for the use of the personal information </h3>
    <p class="govuk-body">Companies House has a legal obligation to collect this information.</p>

    <h3 class="govuk-heading-s">Individual rights</h3>
    <p class="govuk-body">The GDPR provides certain rights that people may carry out regarding their 
      own personal information. If you want to exercise any of these rights, please contact the Data 
      Protection Officer (DPO).</p>

    <h3 class="govuk-heading-s">Complaints</h3>
    <p class="govuk-body">If you have a complaint about the way we’re managing your personal information, 
      you can let us know firstly by writing to the DPO at <a href="mailto:dpo@companieshouse.gov.uk" class="govuk-link">dpo@companieshouse.gov.uk</a>.</p>
    <p class="govuk-body">If you’re still not satisfied, you can raise your concerns with:</p>
    <p class="govuk-body">The Information Commissioner’s Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire<br>
      SK9 5AF<br>
    </p>
    </div>

  {% include "../includes/govuk-aside.html" %}
</div>

{% endblock %}
