{% extends "layouts/main.html" %}

{% block pageTitle %}
Which PSC has a discrepancy for {{company_name}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/phase-banner.html" %}
  {% include "../includes/account-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{currentUrl}}" method="post">
        {% if errorPscName == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        {% if errorPscName == true %}
          <div class="govuk-form-group govuk-form-group--error">

            <fieldset class="govuk-fieldset" aria-describedby="psc-hint">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                {% if data['discrepancyType'] == 'PSC' %}
                  Which PSC has a discrepancy for BIG SHOP LTD?
                {% else %}
                  Which beneficial owner has a discrepancy for INVESTMENT HOLDINGS LTD?
                {% endif %}
                </h1>
              </legend>
              <p id="where-do-you-live-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select the {{ data['discrepancyType'] }} with the discrepancy, or if a {{ data['discrepancyType'] }} is missing
              </p>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscName" name="pscName" type="radio" value="Daniel Lambert">
                  <label class="govuk-label govuk-radios__label" for="pscName">
                    Daniel Lambert
                  </label>
                  <div id="psc-item-hint" class="govuk-hint govuk-radios__hint">Born August 1980</div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscName-2" name="pscName" type="radio" value="Smith and Sons">
                  <label class="govuk-label govuk-radios__label" for="pscName-2">
                    Smith and Sons
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscName-3" name="pscName" type="radio" value="VB Corporation">
                  <label class="govuk-label govuk-radios__label" for="pscName-3">
                    VB Corporation
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="missing" name="pscName" type="radio" value="Missing">
                  <label class="govuk-label govuk-radios__label" for="missing">
                    {{ data['discrepancyType'] }} is missing
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        {% else %}
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="psc-hint">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                {% if data['discrepancyType'] == 'PSC' %}
                  Which PSC has a discrepancy for BIG SHOP LTD?
                {% else %}
                  Which registrable beneficial owner has a discrepancy for INVESTMENT HOLDINGS LTD?
                {% endif %}   
                </h1>
              </legend>
              <div id="sign-in-hint" class="govuk-hint">
                If you need to report a discrepancy about multiple {{ data['discrepancyType'] }}s, you must submit a new report for each one.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscName" name="pscName" type="radio" value="Daniel Lambert">
                  <label class="govuk-label govuk-radios__label" for="pscName">
                    Daniel Lambert
                  </label>
                  <div id="psc-item-hint" class="govuk-hint govuk-radios__hint">Born August 1980</div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscName-2" name="pscName" type="radio" value="Smith and Sons">
                  <label class="govuk-label govuk-radios__label" for="pscName-2">
                    Smith and Sons
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscName-3" name="pscName" type="radio" value="VB Corporation">
                  <label class="govuk-label govuk-radios__label" for="pscName-3">
                    VB Corporation
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="missing" name="pscName" type="radio" value="missing">
                  <label class="govuk-label govuk-radios__label" for="missing">
                    Registrable {{ data['discrepancyType'] }} is missing
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
