{% set title = "" %}
{% extends "layouts/main.html" %}

{% set serviceName %}
{{title}}
{% endset%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Your reference number is <br>RD-20-00-00-01" %}
      {{ govukPanel({
        titleText: "Report submitted",
        html: buttonHref
      }) }}
      {{ govukTable({
        rows: [
          [
            {
              text: "Overseas Entity ID",
                   classes: 'govuk-!-width-one-half'
            },
            {
              text: "OE123456"
            }
          ],
          [
            {
              text: "Overseas entity name",
                   classes: 'govuk-!-width-one-half'
            },
            {
              text: "INVESTMENT HOLDINGS LTD"
            }
          ],
          [
            {
              text: "Name of registrable beneficial owner"
            },
            {
              text: "Daniel Lambert"
            }
          ],
          [
            {
              text: "Type of discrepancy"
            },
            {
              text: "Date of birth"
            }
          ],
          [
            {
              text: "More information about the discrepancy"
            },
            {
              text: "Daniel Lambert's year of birth is shown as 1985 on the register. The year should be shown as 1986. This is what is shown on his driver's licence."
            }
          ]
        ]
      }) }}
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">We will take appropriate action to investigate and if necessary, resolve or remove the discrepancy. We cannot say how long it will take because each case is different. We will not tell the overseas entity who reported the discrepancy, or provide updates on any action we are taking. </p>

      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">If you have any further information about this discrepancy, email
        <a href="mailto:pscdiscrepancies@companieshouse.gov.uk">roediscrepancies@companieshouse.gov.uk</a>.
      </p>
      <h2 class="govuk-heading-m">Feedback</h2>
      <p>This is a new service. Help us improve it by completing our
        <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.</p>
    </div>
  </div>
{% endblock %}
