{% set title = "" %}
{% extends "layouts/main.html" %}

{% set serviceName %}
{{title}}
{% endset%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Your reference number is <br>RD-20-00-00-01" %}
      {{ govukPanel({
        titleText: "Report submitted",
        html: buttonHref
      }) }}
      {{ govukTable({
        rows: [
          [
            {
              text: "Company number",
                   classes: 'govuk-!-width-one-half'
            },
            {
              text: "10393288"
            }
          ],
          [
            {
              text: "Company name",
                   classes: 'govuk-!-width-one-half'
            },
            {
              text: "ZLC LTD"
            }
          ],
          [
            {
              text: "Name of PSC"
            },
            {
              text: "Mrs Catherine Isabel Gaynor"
            }
          ],
          [
            {
              text: "Type of discrepancy"
            },
            {
              text: "Name"
            }
          ],
          [
            {
              text: "More information about the discrepancy"
            },
            {
              text: "The PSC's name is shown as 'Catherine' on the PSC register. The name should be shown as 'Catelin'. This is what is shown on her driver's licence."
            }
          ]
        ]
      }) }}
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">We will take appropriate action to investigate and if necessary, resolve or remove the discrepancy. We cannot say how long it will take because each case is different. We will not tell the company who reported the discrepancy, or provide updates on any action we are taking. </p>

      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">If you have any further information about this discrepancy, email
        <a href="mailto:pscdiscrepancies@companieshouse.gov.uk">pscdiscrepancies@companieshouse.gov.uk</a>.
      </p>
      <h2 class="govuk-heading-m">Feedback</h2>
      <p>This is a new service. Help us improve it by completing our
        <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.</p>
    </div>
  </div>
{% endblock %}
