{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
    </h1>

    <h2 class="govuk-heading-l">Prototype versions</h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#v2">
            Version 2
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#v1">
            Version 1
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="v2">
        <h2 class="govuk-heading-l">Version 2</h2>

        <h3 class="govuk-heading-m">February 2023</h3>

        <hr>

        <h3 class="govuk-heading-s">Shortcuts into the journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v2/guidance.html" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance</a>
          </li>
          <li>
            <a href="v2/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in</a>
          </li>
          <li>
            <a href="v2/discrepancy-category" class="govuk-link govuk-link--no-visited-state">Discrepancy category</a>
          </li>
          <li>
            <a href="v2/obliged-entity-type" class="govuk-link govuk-link--no-visited-state">Obliged entity type</a>
          </li>
          <li>
            <a href="v2/obliged-entity-details-organisation" class="govuk-link govuk-link--no-visited-state">Name of organisation</a>
          </li>
          <li>
            <a href="v2/obliged-entity-details-name" class="govuk-link govuk-link--no-visited-state">Name of person</a>
          </li>
          <li>
            <a href="v2/obliged-entity-email" class="govuk-link govuk-link--no-visited-state">Email</a>
          </li>
          <li>
            <a href="v2/company-number" class="govuk-link govuk-link--no-visited-state">What is the company number for the PSC with the discrepancy</a>
          </li>
          <li>
            <a href="v2/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
          </li>
          <li>
            <a href="v2/secure-psc" class="govuk-link govuk-link--no-visited-state">Secure PSC or beneficial owner</a>
          </li>
          <li>
            <a href="v2/psc-name" class="govuk-link govuk-link--no-visited-state">PSC or BO names</a>
          </li>
          <li>
            <a href="v2/psc-discrepancy-options" class="govuk-link govuk-link--no-visited-state">Discrepancy options</a>
          </li>
          <li>
            <a href="v2/discrepancy-details" class="govuk-link govuk-link--no-visited-state">Open textbox</a>
          </li>
          <li>
            <a href="v2/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check answers</a>
          </li>
          <li>
            <a href="v2/confirmation" class="govuk-link govuk-link--no-visited-state">Confirmation</a>
          </li>
        </ul>

        <hr>

        <h3 class="govuk-heading-s">Changes this version</h3>

        <p>tbd</p>

        <hr>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>

        <p>tbd</p>

        <hr>

        <h3 class="govuk-heading-s">User research for version 2</h3>

        <p>tbd</p>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="v1">
        <h2 class="govuk-heading-l">Version 1</h2>

        <h3 class="govuk-heading-m">January 2023</h3>

        <hr>


        <h3 class="govuk-heading-s">Shortcuts into the journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v1/guidance.html" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance</a>
          </li>
          <li>
            <a href="v1/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in</a>
          </li>
          <li>
            <a href="v1/discrepancy-category" class="govuk-link govuk-link--no-visited-state">Discrepancy category</a>
          </li>
          <li>
            <a href="v1/discrepancy-type" class="govuk-link govuk-link--no-visited-state">Report a PSC discrepancy a beneficial owner discrepancy?</a>
          </li>
          <li>
            <a href="v1/obliged-entity-type" class="govuk-link govuk-link--no-visited-state">Obliged entity type</a>
          </li>
          <li>
            <a href="v1/obliged-entity-details-organisation" class="govuk-link govuk-link--no-visited-state">Name of organisation</a>
          </li>
          <li>
            <a href="v1/obliged-entity-details-name" class="govuk-link govuk-link--no-visited-state">Name of person</a>
          </li>
          <li>
            <a href="v1/obliged-entity-email" class="govuk-link govuk-link--no-visited-state">Email</a>
          </li>
          <li>
            <a href="v1/company-number" class="govuk-link govuk-link--no-visited-state">What is the company number for the PSC with the discrepancy</a>
          </li>
          <li>
            <a href="v1/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
          </li>
          <li>
            <a href="v1/secure-psc" class="govuk-link govuk-link--no-visited-state">Secure PSC or beneficial owner</a>
          </li>
          <li>
            <a href="v1/psc-name" class="govuk-link govuk-link--no-visited-state">PSC or BO names</a>
          </li>
          <li>
            <a href="v1/psc-discrepancy-options" class="govuk-link govuk-link--no-visited-state">Discrepancy options</a>
          </li>
          <li>
            <a href="v1/discrepancy-details" class="govuk-link govuk-link--no-visited-state">Open textbox</a>
          </li>
          <li>
            <a href="v1/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check answers</a>
          </li>
          <li>
            <a href="v1/confirmation" class="govuk-link govuk-link--no-visited-state">Confirmation</a>
          </li>
        </ul>

        <hr>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>

        <p class="govuk-body"><a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1673273178914/1ec0461fd86fa84f5e9e1441767b2d5086b107a8?sender=u9bc72e5725f1871777091172" class="govuk-link govuk-link--no-visited-state">Mural screen flow diagram</a></p>

        <hr>
        
        <h3 class="govuk-heading-s">User research for version 1</h3>

        <p class="govuk-body"><a href="https://companieshouse-my.sharepoint.com/:p:/g/personal/ahooper_companieshouse_gov_uk/EbAexh_F0_JKtXPppY8wkxcBTmd75SjXTuThPUYpcLv-xg?e=4%3ABTjnCB&at=9" class="govuk-link govuk-link--no-visited-state">User research powerpoint</a></p>

        <p class="govuk-body"><a href="https://companieshouse.atlassian.net/wiki/spaces/IES/pages/4076961955/Round+1+V1+Recommendations+and+actions" class="govuk-link govuk-link--no-visited-state">User research recommondations</a></p>
      </div>
    </div>


    <h2 class="govuk-heading-l">Email shortcuts</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="emails/confirmation-email">Confirmation email</a>
      </li>
      <li>
        <a href="emails/outcome">Outcome email</a>
      </li>
    </ul>
    <h2 class="govuk-heading-l">Other service shortcuts</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity" class="govuk-link govuk-link--no-visited-state">Live guidance</a>
      </li>
    </ul>

    <h2 class="govuk-heading-l">Discrepancy types</h2>
    <h3 class="govuk-heading-m">Person</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Name</li>
      <li>Date of birth</li>
      <li>Nationality</li>
      <li>Country of residence</li>
      <li>Address</li>
      <li>Notified date</li>
      <li>Nature of control</li>
      <li>Other reason</li>
    </ul>
    <h3 class="govuk-heading-m">RLE (company)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Company name</li>
      <li>Company number</li>
      <li>Place of registration</li>
      <li>Incorporation law</li>
      <li>Governing law</li>
      <li>Legal form</li>
      <li>Address</li>
      <li>Notified date</li>
      <li>Nature of control</li>
      <li>Other reason</li>
    </ul>
    <h3 class="govuk-heading-m">Other registered person (ORP)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Name</li>
      <li>Governing law</li>
      <li>Legal form</li>
      <li>Address</li>
      <li>Notified date</li>
      <li>Nature of control</li>
      <li>Other reason</li>
    </ul>
  </div>
</div>

{% endblock %}
