{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
    </h1>

    <h2 class="govuk-heading-l">Prototype versions</h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#v3">
            Version 3
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#v2">
            Version 2
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#v1">
            Version 1
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="v3">
        <h2 class="govuk-heading-l">Version 3</h2>

        <h3 class="govuk-heading-m">15 February 2023</h3>

        <hr>
        <h3 class="govuk-heading-m">Shortcuts</h3>
        <h3 class="govuk-heading-s">Journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v3/guidance.html" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance</a>
          </li>
          <li>
            <a href="v3/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in</a>
          </li>
          <li>
            <a href="v3/discrepancy-category" class="govuk-link govuk-link--no-visited-state">Discrepancy category</a>
          </li>
          <li>
            <a href="v3/discrepancy-type" class="govuk-link govuk-link--no-visited-state">Report a PSC discrepancy a beneficial owner discrepancy?</a>
          </li>
          <li>
            <a href="v3/obliged-entity-type" class="govuk-link govuk-link--no-visited-state">Obliged entity type</a>
          </li>
          <li>
            <a href="v3/obliged-entity-details-organisation" class="govuk-link govuk-link--no-visited-state">Name of organisation</a>
          </li>
          <li>
            <a href="v3/obliged-entity-details-name" class="govuk-link govuk-link--no-visited-state">Name of person</a>
          </li>
          <li>
            <a href="v3/obliged-entity-email" class="govuk-link govuk-link--no-visited-state">Email</a>
          </li>
          <li>
            <a href="v3/company-number" class="govuk-link govuk-link--no-visited-state">What is the company number for the PSC with the discrepancy</a>
          </li>
          <li>
            <a href="v3/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
          </li>
          <li>
            <a href="v3/secure-psc" class="govuk-link govuk-link--no-visited-state">Secure PSC or beneficial owner</a>
          </li>
          <li>
            <a href="v3/psc-name" class="govuk-link govuk-link--no-visited-state">PSC or BO names</a>
          </li>
          <li>
            <a href="v3/psc-discrepancy-options" class="govuk-link govuk-link--no-visited-state">Discrepancy options</a>
          </li>
          <li>
            <a href="v3/discrepancy-details" class="govuk-link govuk-link--no-visited-state">Open textbox</a>
          </li>
          <li>
            <a href="v3/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check answers</a>
          </li>
          <li>
            <a href="v3/confirmation" class="govuk-link govuk-link--no-visited-state">Confirmation</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Email</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="emails/confirmation-email">Confirmation email - PSC</a>
          </li>
          <li>
            <a href="emails/confirmation-email-roe">Confirmation email - ROE</a>
          </li>
          <li>
            <a href="emails/outcome">Outcome email - PSC</a>
          </li>
            <li>
            <a href="emails/outcome-roe">Outcome email - ROE</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Live</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity" class="govuk-link govuk-link--no-visited-state">Live guidance</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1676452130964/1cccfa9d2fadb80f477c4df64040e90774892743?sender=u9bc72e5725f1871777091172" class="govuk-link govuk-link--no-visited-state" target="_blank">Mural screen flow diagram</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">User research for version 1</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Not yet complete</a>
          </li>
        </ul>

        <hr>

        <h3 class="govuk-heading-s">Changes this version</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>'What does the discrepancy you are reporting relate to?' screen 
            brought back into prototype. The screen which routed the users 
            dependent onn whether they typed a company number or overseas entity 
            id did not test well. Therefore moving back to asking this question 
            to route down either journey.</li><br>
          <li>Guidence page changed to give more emphasis to when a user can report a 
            discrepancy and move the content related to the changes from 1st April to 
            the top</li><br>

        </ul>

        <hr>

        <h3 class="govuk-heading-s">Prototype data</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>To access PSC screens from 'What is the company number or Overseas Entity ID?' screen use any 8 digit number</li><br>
          <li>To access Beneficial owner screens from 'What is the company number or Overseas Entity ID?' screen use 'oe' followed by any 6 numbers</li><br>
          <li>To access secure PSC screen from 'What is the company number or Overseas Entity ID?' screen use - <b>00000000</b></li><br>
          <li>To access secure PSC screenfrom 'What is the company number or Overseas Entity ID?' screen use - <b>oe000000</b></li><br>
        </ul>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="v2">
        <h2 class="govuk-heading-l">Version 2</h2>

        <h3 class="govuk-heading-m">6 February 2023</h3>

        <hr>
        <h3 class="govuk-heading-m">Shortcuts</h3>
        <h3 class="govuk-heading-s">Journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v2/guidance.html" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance</a>
          </li>
          <li>
            <a href="v2/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in</a>
          </li>
          <li>
            <a href="v2/discrepancy-category" class="govuk-link govuk-link--no-visited-state">Discrepancy category</a>
          </li>
          <li>
            <a href="v2/obliged-entity-type" class="govuk-link govuk-link--no-visited-state">Obliged entity type</a>
          </li>
          <li>
            <a href="v2/obliged-entity-details-organisation" class="govuk-link govuk-link--no-visited-state">Name of organisation</a>
          </li>
          <li>
            <a href="v2/obliged-entity-details-name" class="govuk-link govuk-link--no-visited-state">Name of person</a>
          </li>
          <li>
            <a href="v2/obliged-entity-email" class="govuk-link govuk-link--no-visited-state">Email</a>
          </li>
          <li>
            <a href="v2/company-number" class="govuk-link govuk-link--no-visited-state">What is the company number for the PSC with the discrepancy</a>
          </li>
          <li>
            <a href="v2/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
          </li>
          <li>
            <a href="v2/secure-psc" class="govuk-link govuk-link--no-visited-state">Secure PSC or beneficial owner</a>
          </li>
          <li>
            <a href="v2/psc-name" class="govuk-link govuk-link--no-visited-state">PSC or BO names</a>
          </li>
          <li>
            <a href="v2/psc-discrepancy-options" class="govuk-link govuk-link--no-visited-state">Discrepancy options</a>
          </li>
          <li>
            <a href="v2/discrepancy-details" class="govuk-link govuk-link--no-visited-state">Open textbox</a>
          </li>
          <li>
            <a href="v2/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check answers</a>
          </li>
          <li>
            <a href="v2/confirmation" class="govuk-link govuk-link--no-visited-state">Confirmation</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Email</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="emails/confirmation-email">Confirmation email - PSC</a>
          </li>
          <li>
            <a href="emails/confirmation-email-roe">Confirmation email - ROE</a>
          </li>
          <li>
            <a href="emails/outcome">Outcome email - PSC</a>
          </li>
            <li>
            <a href="emails/outcome-roe">Outcome email - ROE</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Live</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity" class="govuk-link govuk-link--no-visited-state">Live guidance</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1675341471961/3cc17b0ac1cda594c922cb0f78998a1fa43a8414?sender=u9bc72e5725f1871777091172" class="govuk-link govuk-link--no-visited-state" target="_blank">Mural screen flow diagram</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">User research for version 2</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://companieshouse-my.sharepoint.com/:p:/g/personal/ahooper_companieshouse_gov_uk/EaaeD8rAaVhHqHgZqQ_wkUQBIHQLJ9uJIjRM-V3QeCChbQ?e=4%3ACLL9Xp&at=9" class="govuk-link govuk-link--no-visited-state" target="_blank">User research powerpoint</a>
          </li>
        </ul>

        <hr>

        <h3 class="govuk-heading-s">Changes this version</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Sign in screen moved to front of service</li><br>
          <li>"Something else" option removed from 'what does discrepancy 
            relate to screen'. Also additional content added to inform user 
            it HAS to be one of the three given options.</li><br>
          <li>'What type of person are you reporting a discrepancy about' 
            screen reoved. The system now checks if the inputted company 
            number has an 'OE' at the begining and route accordingly. 
            (OE numbers being beneficial owners, rather then PSC's)'</li><br>
          <li>'More information' screen now has a free text box per discrepancy type selected'</li><br>
        </ul>

        <hr>

        <h3 class="govuk-heading-s">Prototype data</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>To access PSC screens from 'What is the company number or Overseas Entity ID?' screen use any 8 digit number</li><br>
          <li>To access Beneficial owner screens from 'What is the company number or Overseas Entity ID?' screen use 'oe' followed by any 6 numbers</li><br>
          <li>To access secure PSC screen from 'What is the company number or Overseas Entity ID?' screen use - <b>00000000</b></li><br>
          <li>To access secure PSC screenfrom 'What is the company number or Overseas Entity ID?' screen use - <b>oe000000</b></li><br>
        </ul>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="v1">
        <h2 class="govuk-heading-l">Version 1</h2>

        <h3 class="govuk-heading-m">23 January 2023</h3>

        <hr>

        <h3 class="govuk-heading-m">Shortcuts</h3>
        <h3 class="govuk-heading-s">Journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v1/guidance.html" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance</a>
          </li>
          <li>
            <a href="v1/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in</a>
          </li>
          <li>
            <a href="v1/discrepancy-category" class="govuk-link govuk-link--no-visited-state">Discrepancy category</a>
          </li>
          <li>
            <a href="v1/discrepancy-type" class="govuk-link govuk-link--no-visited-state">Report a PSC discrepancy a beneficial owner discrepancy?</a>
          </li>
          <li>
            <a href="v1/obliged-entity-type" class="govuk-link govuk-link--no-visited-state">Obliged entity type</a>
          </li>
          <li>
            <a href="v1/obliged-entity-details-organisation" class="govuk-link govuk-link--no-visited-state">Name of organisation</a>
          </li>
          <li>
            <a href="v1/obliged-entity-details-name" class="govuk-link govuk-link--no-visited-state">Name of person</a>
          </li>
          <li>
            <a href="v1/obliged-entity-email" class="govuk-link govuk-link--no-visited-state">Email</a>
          </li>
          <li>
            <a href="v1/company-number" class="govuk-link govuk-link--no-visited-state">What is the company number for the PSC with the discrepancy</a>
          </li>
          <li>
            <a href="v1/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
          </li>
          <li>
            <a href="v1/secure-psc" class="govuk-link govuk-link--no-visited-state">Secure PSC or beneficial owner</a>
          </li>
          <li>
            <a href="v1/psc-name" class="govuk-link govuk-link--no-visited-state">PSC or BO names</a>
          </li>
          <li>
            <a href="v1/psc-discrepancy-options" class="govuk-link govuk-link--no-visited-state">Discrepancy options</a>
          </li>
          <li>
            <a href="v1/discrepancy-details" class="govuk-link govuk-link--no-visited-state">Open textbox</a>
          </li>
          <li>
            <a href="v1/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check answers</a>
          </li>
          <li>
            <a href="v1/confirmation" class="govuk-link govuk-link--no-visited-state">Confirmation</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Email</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="emails/confirmation-email">Confirmation email - PSC</a>
          </li>
          <li>
            <a href="emails/confirmation-email-roe">Confirmation email - ROE</a>
          </li>
          <li>
            <a href="emails/outcome">Outcome email - PSC</a>
          </li>
            <li>
            <a href="emails/outcome-roe">Outcome email - ROE</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Live</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity" class="govuk-link govuk-link--no-visited-state">Live guidance</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">Screen flow diagram</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1673273178914/1ec0461fd86fa84f5e9e1441767b2d5086b107a8?sender=u9bc72e5725f1871777091172" class="govuk-link govuk-link--no-visited-state" target="_blank">Mural screen flow diagram</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s">User research for version 1</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://companieshouse-my.sharepoint.com/:p:/g/personal/ahooper_companieshouse_gov_uk/EbAexh_F0_JKtXPppY8wkxcBTmd75SjXTuThPUYpcLv-xg?e=4%3ABTjnCB&at=9" class="govuk-link govuk-link--no-visited-state" target="_blank">User research powerpoint</a>
          </li>
          <li>
            <a href="https://companieshouse.atlassian.net/wiki/spaces/IES/pages/4076961955/Round+1+V1+Recommendations+and+actions" class="govuk-link govuk-link--no-visited-state" target="_blank">User research recommondations</a>
          </li>
        </ul>
        <hr>

        <h3 class="govuk-heading-m">Prototype data</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>To access PSC screens from 'What is the company number or Overseas Entity ID?' screen use any 8 digit number</li><br>
          <li>To access Beneficial owner screens from 'What is the company number or Overseas Entity ID?' screen use 'oe' followed by any 6 numbers</li><br>
          <li>To access secure PSC screen from 'What is the company number or Overseas Entity ID?' screen use - <b>00000000</b></li><br>
          <li>To access secure PSC screenfrom 'What is the company number or Overseas Entity ID?' screen use - <b>oe000000</b></li><br>
        </ul>

      </div>
    </div>

    </ul>
    <h2 class="govuk-heading-l">Other information</h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Discrepancy types</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Person</th>
          <th scope="col" class="govuk-table__header">Legal</th>
          <th scope="col" class="govuk-table__header">Corporate</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Name</td>
          <td class="govuk-table__cell">Name</td>
          <td class="govuk-table__cell">Company name</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Date of birth</td>
          <td class="govuk-table__cell">Governing law</td>
          <td class="govuk-table__cell">Company number</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nationality</td>
          <td class="govuk-table__cell">Legal form</td>
          <td class="govuk-table__cell">Place of registration</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Country of residence</td>
          <td class="govuk-table__cell">Address</td>
          <td class="govuk-table__cell">Incorporation law</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Address</td>
          <td class="govuk-table__cell">Notified date</td>
          <td class="govuk-table__cell">Governing law</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Notified date</td>
          <td class="govuk-table__cell">Nature of control</td>
          <td class="govuk-table__cell">Legal form</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nature of control</td>
          <td class="govuk-table__cell">Sanction (ROE only)</td>
          <td class="govuk-table__cell">Address</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Sanction (ROE only)</td>
          <td class="govuk-table__cell">Principal office address (ROE only)</td>
          <td class="govuk-table__cell">Notified date</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Other reason</td>
          <td class="govuk-table__cell">Other reason</td>
          <td class="govuk-table__cell">Nature of control</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Sanction (ROE only)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Principal office address (ROE only)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Other reason</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
