{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      service
    </h1>
    <h2 class="govuk-heading-l">Shortcuts into the journey</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="v1/guidance.html" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance</a>
      </li>
      <li>
        <a href="v1/sign-in" class="govuk-link govuk-link--no-visited-state">Sign in</a>
      </li>
      <li>
        <a href="v1/discrepancy-category" class="govuk-link govuk-link--no-visited-state">Discrepancy category</a>
      </li>
      <li>
        <a href="v1/discrepancy-type" class="govuk-link govuk-link--no-visited-state">Report a PSC discrepancy a beneficial owner discrepancy?</a>
      </li>
      <li>
        <a href="v1/obliged-entity-type" class="govuk-link govuk-link--no-visited-state">Obliged entity type</a>
      </li>
      <li>
        <a href="v1/obliged-entity-details-organisation" class="govuk-link govuk-link--no-visited-state">Name of organisation</a>
      </li>
      <li>
        <a href="v1/obliged-entity-details-name" class="govuk-link govuk-link--no-visited-state">Name of person</a>
      </li>
      <li>
        <a href="v1/obliged-entity-email" class="govuk-link govuk-link--no-visited-state">Email</a>
      </li>
      <li>
        <a href="v1/company-number" class="govuk-link govuk-link--no-visited-state">What is the company number for the PSC with the discrepancy</a>
      </li>
      <li>
        <a href="v1/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
      </li>
      <li>
        <a href="v1/secure-psc" class="govuk-link govuk-link--no-visited-state">Secure PSC or beneficial owner</a>
      </li>
      <li>
        <a href="v1/psc-name" class="govuk-link govuk-link--no-visited-state">PSC or BO names</a>
      </li>
      <li>
        <a href="v1/psc-discrepancy-options" class="govuk-link govuk-link--no-visited-state">Discrepancy options</a>
      </li>
      <li>
        <a href="v1/discrepancy-details" class="govuk-link govuk-link--no-visited-state">Open textbox</a>
      </li>
      <li>
        <a href="v1/check-your-answers" class="govuk-link govuk-link--no-visited-state">Check answers</a>
      </li>
      <li>
        <a href="v1/confirmation" class="govuk-link govuk-link--no-visited-state">Confirmation</a>
      </li>
    </ul>
    <h2 class="govuk-heading-l">Email shortcuts</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="v1/emails/confirmation-email">Confirmation email</a>
      </li>
      <li>
        <a href="v1/emails/outcome">Outcome email</a>
      </li>
    </ul>
    <h2 class="govuk-heading-l">Other service shortcuts</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity" class="govuk-link govuk-link--no-visited-state">Live guidance</a>
      </li>
    </ul>
    <h2 class="govuk-heading-l">Prototype versions</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Changes</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="https://report-a-discrepancy-prototype.herokuapp.com/" class="govuk-link govuk-link--no-visited-state">Current version (1.0)</a>
          </th>
          <td class="govuk-table__cell">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Changes included in version 1.0
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <li>New prototype created</li>
                  <li>Beneficial owners discrepancy screens added</li>
                  <li>Discrepancy catagory screen added</li>
                </ul>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell">
            {{ govukTag({
              text: "Built"
            }) }}
          </td>
        </tr>
      </tbody>
    </table>
    <h2 class="govuk-heading-l">Discrepancy types</h2>
    <h3 class="govuk-heading-m">Person</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Name</li>
      <li>Date of birth</li>
      <li>Nationality</li>
      <li>Country of residence</li>
      <li>Address</li>
      <li>Notified date</li>
      <li>Nature of control</li>
      <li>Other reason</li>
    </ul>
    <h3 class="govuk-heading-m">RLE (company)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Company name</li>
      <li>Company number</li>
      <li>Place of registration</li>
      <li>Incorporation law</li>
      <li>Governing law</li>
      <li>Legal form</li>
      <li>Address</li>
      <li>Notified date</li>
      <li>Nature of control</li>
      <li>Other reason</li>
    </ul>
    <h3 class="govuk-heading-m">Other registered person (ORP)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Name</li>
      <li>Governing law</li>
      <li>Legal form</li>
      <li>Address</li>
      <li>Notified date</li>
      <li>Nature of control</li>
      <li>Other reason</li>
    </ul>
  </div>
</div>

{% endblock %}
